<h1>PushMessage#index</h1>
<p>This is the index of the send push message module</p>
<%= form_tag("push_message/send_message", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
